.overlay {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  max-height: 100%;
  width: 100%;
  cursor: default;
}
.content {
  background-color: white;
  width: 20%;
  border-radius: 10px;
  padding: 10px 15px;
}
.content h3 {
  color: black;
  font-weight: 400;
}
