.overlay {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  max-height: 100%;
  width: 100%;
  cursor: default;
}
.content {
  background-color: white;
  width: 25%;
  border-radius: 10px;
  padding: 10px 15px;
  height: 28%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h3 {
  color: black;
  font-weight: 400;
}
.content div {
  display: flex;
  justify-content: flex-end;
}
.enter {
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 98%;
  height: 50px;
}
.enter input {
  border: none;
  width: 95%;
  font-size: 1rem;
  margin: 0 1% 0 1%;
  color: "#666666";
}
.enter input:focus {
  border-color: transparent;
  border-style: solid;
  outline: none;
}
.cancelSave {
  margin-top: 9%;
}
.cancel:hover {
  background-color: #e8f0fe;
  cursor: pointer;
}
