.trends div {
  font-size: 0.7rem;
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 400;
  margin: 4px;
}
.trends {
  margin-top: 10px;
}
.trends div:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
