.mainText {
  display: flex;
  margin-top: 20px;
}
.list {
  font-size: 0.9rem;
}
.list span {
  margin: 10px;
  font-weight: 500;
  color: #555555;
  cursor: pointer;
  padding: 5px;
}
.list span:hover {
  background-color: #eeeeee;
  border-radius: 9px;
}
