.most {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
}
.symbol {
  font-weight: 500;
  font-size: 0.7rem;
  margin: 10px 0 0 0;
  background-color: #666666;
  color: white;
  width: 28%;
  padding: 5px 9px 5px 8px;
  border-radius: 5px;
}
.name {
  font-weight: 500;
  margin: 2px 0 3px 0;
}
.employee {
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}
.stock {
  border-top: 1px solid #dddddd;
}
.head {
  font-weight: 400;
  margin: 0 0 10px 0;
  font-size: 1rem;
}
