.sidebar {
  width: 240px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -240px;
  transition: left 0.3s ease;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
.visible {
  left: 0;
}
.heading {
  font-size: 1.4rem;
  margin-left: 10px;
  color: #777777;
}
.home {
  background-color: #e8f0fe;
  border-radius: 0 40px 40px 0;
  padding: 13px;
  color: #1a73e8;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 5px;
  width: 80%;
  display: flex;
  align-items: center;
}
.marketTrends {
  border-radius: 0 40px 40px 0;
  padding: 13px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 5px;
  width: 80%;
  align-items: center;
  display: flex;
}
.marketTrends:hover {
  background-color: #eeeeee;
}
.first {
  border-bottom: 1px solid #dddddd;
  opacity: 0.8;
}
.portWatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 10px 0 10px;
  margin: 0;
}
.portWatch h6 {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 10px;
}
.portWatch span {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #1a73e8;
  padding: 5px 15px 5px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.portWatch span:hover {
  background-color: #eeeeee;
}
.mostActive {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 19px;
}
.logo {
  padding-right: 10px;
}
