.sidebar {
  width: 240px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -240px;
  transition: left 0.3s ease;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
.visible {
  left: 0;
}
.heading {
  font-size: 1.4rem;
  margin-left: 10px;
  color: #777777;
}
.home {
  background-color: #e8f0fe;
  border-radius: 0 40px 40px 0;
  padding: 13px;
  color: #1a73e8;
}
