.image {
  width: 120px;
  height: 80px;
  border-radius: 10px;
}
.newsList {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  font-size: 0.8rem;
  font-weight: 500;
  color: #222222;
  margin: 0 20px 0 0;
}
.newsList:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.topics {
  color: #555555;
  font-weight: 400;
  text-decoration: none;
}
.newsItem {
  margin-top: 15px;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}
.source {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555555;
  margin-right: 10px;
}
.published {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555555;
  margin-left: 10px;
}
